@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap&https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
    background: none;
font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-size: 18px   ;
   
}
body,nav{
    background-color: rgb(189, 61, 221);  
} 
.form{
    margin: 50px auto;
    background-color: rgb(245, 245, 245);
    opacity: .755;
    width: 350px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 8px;
}
